.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
}

.Modal {
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
}

.Modal__image {
    width: 800px;
}

.CloseBtn {
    position: absolute;
    top: 4%;
    right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    cursor: pointer;
}

